:root {
  --light-gray: #ccc;
  --displayvair: none;
}

#profilePic {
  width: 60px;
  position: absolute;
  left: 0px;
  top: -15px;
  height: 75px;
  cursor: pointer;
  opacity: 0;
}
.delteicon {
  position: absolute;
  cursor: pointer;
  border: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: #fff;
  font-size: 35px !important;
  padding: 8px;
}
#imagefield {
  cursor: all-scroll;
}
.uploadimage:hover {
  opacity: 0.7;
}
.zoomarea {
  display: grid;
}
.uploadedimage {
  cursor: all-scroll;
}
.linezoonprogress {
  border-top: 3px solid white;
  margin-bottom: 15px;
  position: relative;
}
div.react-transform-component.transform-component-module_content__2jYgh {
  overflow-x: hidden;
}
